.search-container,
.weather-container{
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}
::ng-deep .mat-mdc-form-field{
  width: 80%;
  max-width: 400px;
}

::ng-deep .mdc-text-field--filled{
    /* border: 1px solid; */
    border-radius: 10px !important;
    background-color: var(--background-element) !important;
}

::ng-deep .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}
::ng-deep .mat-mdc-form-field-focus-overlay{
  background-color: aliceblue;
}

::ng-deep .div.mat-mdc-autocomplete-panel{
  color: var(--background-element);

}
::ng-deep .div.mat-mdc-autocomplete-panel.mat-mdc-autocomplete-visible,
::ng-deep .mdc-text-field--filled.mdc-text-field--no-label .mdc-text-field__input,
::ng-deep .mat-mdc-option.mdc-list-item,
::ng-deep .mat-autocomplete-trigger::placeholder{
  color: var(--font-color) !important;
}
::ng-deep div.mat-mdc-autocomplete-panel.mat-mdc-autocomplete-visible{
  background-color: var(--background-element);
}
::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--background-element);
}

.current-data{
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 500px;
  aspect-ratio: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--background-body);
  align-items: center;
  border-radius: 20px;
  margin: 0 0 50px 12px;
}

.current-data img{
  width: 60%;
  max-width: 270px;
}

.info-label .cityName{
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 20px;
}
.info-label .cityTemp{
  font-weight: bold;
  font-size: 20px;
}


.weather-data{
  width: 90%;
  max-width: 1300px;
  background-color: var(--background-element);
  border-radius: 30px;
  padding: 30px 60px 50px 60px;
}
.favirites-icons{
  float: right;
}
.favirites-icons mat-icon{
  color: red;
  cursor: pointer;
}


.weekly-forecasts{
  display: flex;
  flex-wrap: wrap;
}


.daily-forecasts{
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  text-align: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--background-body);
}

.daily-forecasts span{
  margin-bottom: 10px;
}

.dayString{
  font-weight: bold;
}


.modal-content{
  color: var(--error-text);
  background-color: var(--error-background);
  padding: 10px 20px 20px 40px;
  border-radius: 20px;
  border: 0;
}
.modal-content .close-button button{
  color: var(--error-text);
  opacity: 1;
}

.modal-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 100%;
  background-color: var(--error-text);
  border-radius: 20px 0 0 20px;
}

@media (max-width: 900px) {
   .current-data {
    width: 85%;
    margin: 0 0 30px 12px;
  }
   .daily-forecasts {
    flex-basis: calc(25% - 20px);
  }
}


@media (max-width: 800px) {
  .current-data img {
    width: 50%;
  }
  .daily-forecasts {
    flex-basis: calc(33% - 20px);
  }
  .weather-data{
    padding: 20px;
  }

}

@media (max-width: 470px) {
  .current-data{
    width: 100%;
    margin: 0 0 15px 0;
  }
  .weekly-forecasts{
    flex-direction: column;
  }
  .daily-forecasts{
    flex: none;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }
  .current-data img {
    width: 40%;
  }
  .daily-forecasts span{
    margin: 0;
  }

}

@media (max-width: 410px) {
  .daily-forecasts img{
    width: 55px;
  }
  .weather-data{
    width: 95%;
    padding: 10px;
  }
}

.mat-icon {
  transition: opacity 0.3s ease-in-out;
}
